{:paths ["src"]
 :deps {
        io.github.kotoba-lang/set-rename-keys
        {:git/url "https://github.com/kotoba-lang/set-rename-keys.git"
         :git/sha "4ef29bc8dc5ba504db7cc007bde2d47ba692e15e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
